###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=crlf

# general files
*.cmd                       text eol=crlf
*.bat                       text eol=crlf
*.yaml                      text eol=crlf
*.yml                       text eol=crlf
*.md                        text eol=crlf
*.txt                       text eol=crlf
*.nsi                       text eol=crlf
*.nsh                       text eol=crlf
*.json                      text eol=crlf

# dotnet files
*.cs                        text eol=crlf
*.sln                       text eol=crlf
*.slnx                      text eol=crlf
*.csproj                    text eol=crlf
*.manifest                  text eol=crlf
*.resx                      text eol=crlf

# config files
.git-blame-ignore-revs      text eol=crlf
.editorconfig               text eol=crlf
.gitignore                  text eol=crlf
.npmrc                      text eol=crlf

# VRCX specific
Version                     text eol=crlf

# linux specific
*.sh                        text eol=crlf

# cross platform
*.ps1                       text eol=crlf

# web files
*.js        text eol=crlf
*.mjs       text eol=crlf
*.cjs       text eol=crlf
*.jsx       text eol=crlf
*.ts        text eol=crlf
*.mts       text eol=crlf
*.tsx       text eol=crlf
*.html      text eol=crlf
*.vue       text eol=crlf
*.css       text eol=crlf
*.svg       text eol=crlf

# binary files
*.png   binary
*.ico   binary
*.pdb   binary
*.dll   binary
*.exe   binary
*.so    binary
*.crx   binary
