body,
input,
textarea,
select,
button {
    font-family: 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans TC', 'Noto Sans SC',
        'Noto Color Emoji', 'Meiryo UI', 'Malgun Gothic', 'Segoe UI', sans-serif;
}

body {
    --md-sys-typescale-headline-medium-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-headline-small-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-title-medium-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-label-large-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-label-medium-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-body-large-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-body-medium-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
    --md-sys-typescale-body-small-font: 'Google Sans', 'Noto Sans',
        'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Color Emoji',
        'Roboto', sans-serif;
}

:root {
    --font: 'Poppins', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans TC',
        'Noto Sans SC', 'Noto Color Emoji', sans-serif;
}
