@import '@fontsource-variable/inter';
@import '@fontsource-variable/noto-sans';

@import '@fontsource-variable/noto-sans-jp';
@import '@fontsource-variable/noto-sans-kr';
@import '@fontsource-variable/noto-sans-sc';
@import '@fontsource-variable/noto-sans-tc';

@font-face {
    font-family: 'ellipsis-font';
    src: local('Times New Roman');
    unicode-range: U+2026;
}
