mixin dialogs
    //- previous instances
    PreviousInstancesInfoDialog(
        :visible.sync='previousInstancesInfoDialogVisible'
        :instanceId='previousInstancesInfoDialogInstanceId'
        :gameLogIsFriend='gameLogIsFriend'
        :gameLogIsFavorite='gameLogIsFavorite'
        :lookupUser='lookupUser'
        :isDarkMode='isDarkMode')

    //- favorites
    FriendImportDialog(
        :friendImportDialogVisible.sync='friendImportDialogVisible'
        :friendImportDialogInput.sync='friendImportDialogInput')

    WorldImportDialog(
        :worldImportDialogVisible.sync='worldImportDialogVisible'
        :worldImportDialogInput.sync='worldImportDialogInput'
        :getLocalWorldFavoriteGroupLength='getLocalWorldFavoriteGroupLength'
        :localWorldFavoriteGroups='localWorldFavoriteGroups'
        @addLocalWorldFavorite='addLocalWorldFavorite')

    AvatarImportDialog(
        :avatarImportDialogVisible.sync='avatarImportDialogVisible'
        :avatarImportDialogInput.sync='avatarImportDialogInput'
        :getLocalAvatarFavoriteGroupLength='getLocalAvatarFavoriteGroupLength'
        :localAvatarFavoriteGroups='localAvatarFavoriteGroups'
        @addLocalAvatarFavorite='addLocalAvatarFavorite')

    //- favorites dialog
    ChooseFavoriteGroupDialog(
        :favoriteDialog.sync='favoriteDialog'
        :localAvatarFavoriteGroups='localAvatarFavoriteGroups'
        :localWorldFavoriteGroups='localWorldFavoriteGroups'
        :hasLocalWorldFavorite='hasLocalWorldFavorite'
        :getLocalWorldFavoriteGroupLength='getLocalWorldFavoriteGroupLength'
        :hasLocalAvatarFavorite='hasLocalAvatarFavorite'
        :getLocalAvatarFavoriteGroupLength='getLocalAvatarFavoriteGroupLength'
        @addLocalWorldFavorite='addLocalWorldFavorite'
        @removeLocalWorldFavorite='removeLocalWorldFavorite'
        @addLocalAvatarFavorite='addLocalAvatarFavorite'
        @removeLocalAvatarFavorite='removeLocalAvatarFavorite'
        @deleteFavoriteNoConfirm='deleteFavoriteNoConfirm')

    //- launch
    LaunchDialog(
        :checkCanInvite='checkCanInvite'
        :launchDialogData.sync='launchDialogData'
        :hideTooltips='hideTooltips'
        :vipFriends='vipFriends'
        :onlineFriends='onlineFriends'
        :activeFriends='activeFriends'
        :inviteMessageTable='inviteMessageTable'
        :uploadImage='uploadImage'
        :lastLocation='lastLocation'
        @launchGame='launchGame')

    UserDialog(
        :userDialog='userDialog'
        :languageDialog='languageDialog'
        :hideTooltips='hideTooltips'
        :lastLocation='lastLocation'
        :lastLocationDestination='lastLocationDestination'
        :isGameRunning='isGameRunning'
        :checkCanInvite='checkCanInvite'
        :updateInstanceInfo='updateInstanceInfo'
        :hideUserNotes='hideUserNotes'
        :hideUserMemos='hideUserMemos'
        :userOnlineFor='userOnlineFor'
        :userDialogWorldSortingOptions='userDialogWorldSortingOptions'
        :userDialogWorldOrderOptions='userDialogWorldOrderOptions'
        :avatarRemoteDatabase='avatarRemoteDatabase'
        :friendLogTable='friendLogTable'
        :lookupAvatars='lookupAvatars'
        :updateInGameGroupOrder='updateInGameGroupOrder'
        :inviteMessageTable='inviteMessageTable'
        :uploadImage='uploadImage'
        :inviteRequestMessageTable='inviteRequestMessageTable'
        :inGameGroupOrder='inGameGroupOrder'
        :shiftHeld='shiftHeld'
        :vipFriends='vipFriends'
        :onlineFriends='onlineFriends'
        :offlineFriends='offlineFriends'
        :activeFriends='activeFriends'
        :galleryDialogVisible='galleryDialogVisible'
        :galleryDialogGalleryLoading='galleryDialogGalleryLoading'
        :galleryDialogIconsLoading='galleryDialogIconsLoading'
        :galleryDialogEmojisLoading='galleryDialogEmojisLoading'
        :galleryDialogStickersLoading='galleryDialogStickersLoading'
        :galleryDialogPrintsLoading='galleryDialogPrintsLoading'
        :galleryTable='galleryTable'
        :VRCPlusIconsTable='VRCPlusIconsTable'
        :emojiTable='emojiTable'
        :stickerTable='stickerTable'
        :printUploadNote='printUploadNote'
        :printCropBorder='printCropBorder'
        :printTable='printTable'
        @refreshGalleryTable='refreshGalleryTable'
        @refreshEmojiTable='refreshEmojiTable'
        @refreshStickerTable='refreshStickerTable'
        @refreshVRCPlusIconsTable='refreshVRCPlusIconsTable'
        @refreshPrintTable='refreshPrintTable'
        @sortUserDialogAvatars='sortUserDialogAvatars'
        @logout='logout'
        @showAvatarAuthorDialog='showAvatarAuthorDialog'
        @showGalleryDialog='showGalleryDialog'
        @saveCurrentUserGroups='saveCurrentUserGroups'
        @refreshUserDialogAvatars='refreshUserDialogAvatars'
        @refreshUserDialogTreeData='refreshUserDialogTreeData'
        @saveUserMemo='saveUserMemo'
        @setGroupVisibility='setGroupVisibility'
        @leaveGroupPrompt='leaveGroupPrompt'
        @clearInviteImageUpload='clearInviteImageUpload'
        @closeGalleryDialog='galleryDialogVisible = false')

    WorldDialog(
        :worldDialog.sync='worldDialog'
        :hideTooltips='hideTooltips'
        :shiftHeld='shiftHeld'
        :isGameRunning='isGameRunning'
        :lastLocation='lastLocation'
        :instanceJoinHistory='instanceJoinHistory'
        :updateInstanceInfo='updateInstanceInfo'
        :isAgeGatedInstancesVisible='isAgeGatedInstancesVisible'
        :createNewInstance='createNewInstance'
        :instanceContentSettings='instanceContentSettings'
        :offlineFriends='offlineFriends'
        :activeFriends='activeFriends'
        :onlineFriends='onlineFriends'
        :vipFriends='vipFriends'
        :inviteMessageTable='inviteMessageTable'
        :uploadImage='uploadImage'
        @openFolderGeneric='openFolderGeneric'
        @deleteVRChatCache='deleteVRChatCache'
        @worldDialogCommand='worldDialogCommand')

    GroupDialog(
        :groupDialog.sync='groupDialog'
        :hideTooltips='hideTooltips'
        :lastLocation='lastLocation'
        :updateInstanceInfo='updateInstanceInfo'
        :groupDialogSortingOptions='groupDialogSortingOptions'
        :groupDialogFilterOptions='groupDialogFilterOptions'
        :isGroupGalleryLoading='isGroupGalleryLoading'
        :randomUserColours='randomUserColours'
        @updateGroupPostSearch='updateGroupPostSearch'
        @groupDialogCommand='groupDialogCommand'
        @getGroupDialogGroup='getGroupDialogGroup')

    AvatarDialog(
        :avatarDialog='avatarDialog'
        :hideTooltips='hideTooltips'
        :isGameRunning='isGameRunning'
        @openFolderGeneric='openFolderGeneric'
        @deleteVRChatCache='deleteVRChatCache')

    FullscreenImageDialog(:fullscreenImageDialog='fullscreenImageDialog')

    //- settings
    FeedFiltersDialog(
        :feedFiltersDialogMode.sync='feedFiltersDialogMode'
        :photonLoggingEnabled='photonLoggingEnabled'
        :sharedFeedFilters='sharedFeedFilters'
        :sharedFeedFiltersDefaults='sharedFeedFiltersDefaults'
        @updateSharedFeed='updateSharedFeed')

    LaunchOptionsDialog(:isLaunchOptionsDialogVisible.sync='isLaunchOptionsDialogVisible')

    OpenSourceSoftwareNoticeDialog(:ossDialog.sync='ossDialog')

    ChangelogDialog(:changeLogDialog.sync='changeLogDialog')

    ScreenshotMetadataDialog(
        :screenshotMetadataDialog='screenshotMetadataDialog'
        :currentlyDroppingFile='currentlyDroppingFile'
        :fullscreenImageDialog='fullscreenImageDialog'
        @lookupUser='lookupUser')

    EditInviteMessageDialog(:editInviteMessageDialog.sync='editInviteMessageDialog')

    NoteExportDialog(:isNoteExportDialogVisible.sync='isNoteExportDialogVisible' :friends='friends')

    VRChatConfigDialog(
        :isVRChatConfigDialogVisible.sync='isVRChatConfigDialogVisible'
        :VRChatUsedCacheSize='VRChatUsedCacheSize'
        :VRChatTotalCacheSize='VRChatTotalCacheSize'
        :VRChatCacheSizeLoading='VRChatCacheSizeLoading'
        :folderSelectorDialog='folderSelectorDialog'
        :hideTooltips='hideTooltips'
        @getVRChatCacheSize='getVRChatCacheSize'
        @sweepVRChatCache='sweepVRChatCache')

    YouTubeApiDialog(
        :isYouTubeApiDialogVisible.sync='isYouTubeApiDialogVisible'
        :lookupYouTubeVideo='lookupYouTubeVideo'
        :youTubeApiKey.sync='youTubeApiKey')

    NotificationPositionDialog(
        :isNotificationPositionDialogVisible.sync='isNotificationPositionDialogVisible'
        :notificationPosition.sync='notificationPosition'
        @changeNotificationPosition='changeNotificationPosition')

    AvatarProviderDialog(
        :isAvatarProviderDialogVisible.sync='isAvatarProviderDialogVisible'
        :avatarRemoteDatabaseProviderList='avatarRemoteDatabaseProviderList'
        @saveAvatarProviderList='saveAvatarProviderList'
        @removeAvatarProvider='removeAvatarProvider')

    RegistryBackupDialog(
        :isRegistryBackupDialogVisible.sync='isRegistryBackupDialogVisible'
        :backupVrcRegistry='backupVrcRegistry')

    PrimaryPasswordDialog(
        :enablePrimaryPasswordDialog.sync='enablePrimaryPasswordDialog'
        @setPrimaryPassword='setPrimaryPassword')