mixin feedFilters()
    //- dialog: Noty feed filters
    el-dialog.x-dialog(:before-close="beforeDialogClose" @mousedown.native="dialogMouseDown" @mouseup.native="dialogMouseUp" ref="notyFeedFiltersDialog" :visible.sync="notyFeedFiltersDialog.visible" :title="$t('dialog.shared_feed_filters.notification')" width="550px")
        .toggle-list
            .toggle-item
                span.toggle-name OnPlayerJoining
                el-radio-group(v-model="sharedFeedFilters.noty.OnPlayerJoining" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name OnPlayerJoined
                el-radio-group(v-model="sharedFeedFilters.noty.OnPlayerJoined" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name OnPlayerLeft
                el-radio-group(v-model="sharedFeedFilters.noty.OnPlayerLeft" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Online
                el-radio-group(v-model="sharedFeedFilters.noty.Online" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Offline
                el-radio-group(v-model="sharedFeedFilters.noty.Offline" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name GPS
                el-radio-group(v-model="sharedFeedFilters.noty.GPS" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Status
                el-radio-group(v-model="sharedFeedFilters.noty.Status" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Invite
                el-radio-group(v-model="sharedFeedFilters.noty.invite" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Request Invite
                el-radio-group(v-model="sharedFeedFilters.noty.requestInvite" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Invite Response
                el-radio-group(v-model="sharedFeedFilters.noty.inviteResponse" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Request Invite Response
                el-radio-group(v-model="sharedFeedFilters.noty.requestInviteResponse" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Friend Request
                el-radio-group(v-model="sharedFeedFilters.noty.friendRequest" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name New Friend
                el-radio-group(v-model="sharedFeedFilters.noty.Friend" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Unfriend
                el-radio-group(v-model="sharedFeedFilters.noty.Unfriend" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Display Name Change
                el-radio-group(v-model="sharedFeedFilters.noty.DisplayName" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Trust Level Change
                el-radio-group(v-model="sharedFeedFilters.noty.TrustLevel" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            //- .toggle-item
            //-     span.toggle-name Boop
            //-     el-radio-group(v-model="sharedFeedFilters.noty.boop" size="mini" @change="saveSharedFeedFilters")
            //-         el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
            //-         el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Change
                    el-tooltip(placement="top" style="margin-left:5px" content="When you've left or been kicked from a group, group name changed, group owner changed, role added/removed")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.noty.groupChange" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Announcement
                el-radio-group(v-model="sharedFeedFilters.noty['group.announcement']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Join
                    el-tooltip(placement="top" style="margin-left:5px" content="When your request to join a group has been approved")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.noty['group.informative']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Invite
                    el-tooltip(placement="top" style="margin-left:5px" content="When someone invites you to join a group")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.noty['group.invite']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Join Request
                    el-tooltip(placement="top" style="margin-left:5px" content="When someone requests to join a group you're a moderator for")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.noty['group.joinRequest']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Transfer Request
                el-radio-group(v-model="sharedFeedFilters.noty['group.transfer']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Instance Queue Ready
                el-radio-group(v-model="sharedFeedFilters.noty['group.queueReady']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Instance Closed
                    el-tooltip(placement="top" style="margin-left:5px" content="When the instance you're in has been closed preventing anyone from joining")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.noty['instance.closed']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Video Play
                    el-tooltip(placement="top" style="margin-left:5px" content="Requires VRCX YouTube API option enabled")
                        i.el-icon-warning
                el-radio-group(v-model="sharedFeedFilters.noty.VideoPlay" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Miscellaneous Events
                    el-tooltip(placement="top" style="margin-left:5px" content="Misc event from VRC game log: VRC crash auto rejoin, shader keyword limit, joining instance blocked by master, error loading video, audio device changed, error joining instance, kicked from instance, VRChat failing to start OSC server, etc...")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.noty.Event" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name External App
                el-radio-group(v-model="sharedFeedFilters.noty.External" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Blocked Player Joins
                el-radio-group(v-model="sharedFeedFilters.noty.BlockedOnPlayerJoined" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Blocked Player Leaves
                el-radio-group(v-model="sharedFeedFilters.noty.BlockedOnPlayerLeft" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Muted Player Joins
                el-radio-group(v-model="sharedFeedFilters.noty.MutedOnPlayerJoined" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Muted Player Leaves
                el-radio-group(v-model="sharedFeedFilters.noty.MutedOnPlayerLeft" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Lobby Avatar Change
                el-radio-group(v-model="sharedFeedFilters.noty.AvatarChange" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            template(v-if="photonLoggingEnabled")
                br
                .toggle-item
                    span.toggle-name Photon Event Logging
                .toggle-item
                    span.toggle-name Portal Spawn
                    el-radio-group(v-model="sharedFeedFilters.noty.PortalSpawn" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                        el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                        el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
                .toggle-item
                    span.toggle-name Lobby ChatBox Message
                    el-radio-group(v-model="sharedFeedFilters.noty.ChatBoxMessage" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                        el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                        el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
                .toggle-item
                    span.toggle-name Blocked
                    el-radio-group(v-model="sharedFeedFilters.noty.Blocked" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
                .toggle-item
                    span.toggle-name Unblocked
                    el-radio-group(v-model="sharedFeedFilters.noty.Unblocked" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
                .toggle-item
                    span.toggle-name Muted
                    el-radio-group(v-model="sharedFeedFilters.noty.Muted" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
                .toggle-item
                    span.toggle-name Unmuted
                    el-radio-group(v-model="sharedFeedFilters.noty.Unmuted" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
        template(#footer)
            el-button(size="small" @click="resetNotyFeedFilters") {{ $t('dialog.shared_feed_filters.reset') }}
            el-button(size="small" type="primary" style="margin-left:10px" @click="notyFeedFiltersDialog.visible = false") {{ $t('dialog.shared_feed_filters.close') }}

    //- dialog: wrist feed filters
    el-dialog.x-dialog(:before-close="beforeDialogClose" @mousedown.native="dialogMouseDown" @mouseup.native="dialogMouseUp" ref="wristFeedFiltersDialog" :visible.sync="wristFeedFiltersDialog.visible" :title="$t('dialog.shared_feed_filters.wrist')" width="550px")
        .toggle-list
            .toggle-item
                span.toggle-name Self Location
                el-radio-group(v-model="sharedFeedFilters.wrist.Location" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name OnPlayerJoining
                el-radio-group(v-model="sharedFeedFilters.wrist.OnPlayerJoining" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name OnPlayerJoined
                el-radio-group(v-model="sharedFeedFilters.wrist.OnPlayerJoined" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name OnPlayerLeft
                el-radio-group(v-model="sharedFeedFilters.wrist.OnPlayerLeft" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Online
                el-radio-group(v-model="sharedFeedFilters.wrist.Online" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Offline
                el-radio-group(v-model="sharedFeedFilters.wrist.Offline" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name GPS
                el-radio-group(v-model="sharedFeedFilters.wrist.GPS" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Status
                el-radio-group(v-model="sharedFeedFilters.wrist.Status" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Invite
                el-radio-group(v-model="sharedFeedFilters.wrist.invite" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Request Invite
                el-radio-group(v-model="sharedFeedFilters.wrist.requestInvite" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Invite Response
                el-radio-group(v-model="sharedFeedFilters.wrist.inviteResponse" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Request Invite Response
                el-radio-group(v-model="sharedFeedFilters.wrist.requestInviteResponse" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Friend Request
                el-radio-group(v-model="sharedFeedFilters.wrist.friendRequest" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name New Friend
                el-radio-group(v-model="sharedFeedFilters.wrist.Friend" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Unfriend
                el-radio-group(v-model="sharedFeedFilters.wrist.Unfriend" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Display Name Change
                el-radio-group(v-model="sharedFeedFilters.wrist.DisplayName" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            .toggle-item
                span.toggle-name Trust Level Change
                el-radio-group(v-model="sharedFeedFilters.wrist.TrustLevel" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
            //- .toggle-item
            //-     span.toggle-name Boop
            //-     el-radio-group(v-model="sharedFeedFilters.wrist.boop" size="mini" @change="saveSharedFeedFilters")
            //-         el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
            //-         el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Change
                    el-tooltip(placement="top" style="margin-left:5px" content="When you've left or been kicked from a group, group name changed, group owner changed, role added/removed")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.wrist.groupChange" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Announcement
                el-radio-group(v-model="sharedFeedFilters.wrist['group.announcement']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Join
                    el-tooltip(placement="top" style="margin-left:5px" content="When your request to join a group has been approved")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.wrist['group.informative']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Invite
                    el-tooltip(placement="top" style="margin-left:5px" content="When someone invites you to join a group")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.wrist['group.invite']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Join Request
                    el-tooltip(placement="top" style="margin-left:5px" content="When someone requests to join a group you're a moderator for")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.wrist['group.joinRequest']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Group Transfer Request
                el-radio-group(v-model="sharedFeedFilters.wrist['group.transfer']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Instance Queue Ready
                el-radio-group(v-model="sharedFeedFilters.wrist['group.queueReady']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Instance Closed
                    el-tooltip(placement="top" style="margin-left:5px" content="When the instance you're in has been closed preventing anyone from joining")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.wrist['instance.closed']" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Video Play
                    el-tooltip(placement="top" style="margin-left:5px" content="Requires VRCX YouTube API option enabled")
                        i.el-icon-warning
                el-radio-group(v-model="sharedFeedFilters.wrist.VideoPlay" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Miscellaneous Events
                    el-tooltip(placement="top" style="margin-left:5px" content="Misc event from VRC game log: VRC crash auto rejoin, shader keyword limit, joining instance blocked by master, error loading video, audio device changed, error joining instance, kicked from instance, VRChat failing to start OSC server, etc...")
                        i.el-icon-info
                el-radio-group(v-model="sharedFeedFilters.wrist.Event" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name External App
                el-radio-group(v-model="sharedFeedFilters.wrist.External" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
            .toggle-item
                span.toggle-name Blocked Player Joins
                el-radio-group(v-model="sharedFeedFilters.wrist.BlockedOnPlayerJoined" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Blocked Player Leaves
                el-radio-group(v-model="sharedFeedFilters.wrist.BlockedOnPlayerLeft" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Muted Player Joins
                el-radio-group(v-model="sharedFeedFilters.wrist.MutedOnPlayerJoined" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Muted Player Leaves
                el-radio-group(v-model="sharedFeedFilters.wrist.MutedOnPlayerLeft" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            .toggle-item
                span.toggle-name Lobby Avatar Change
                el-radio-group(v-model="sharedFeedFilters.wrist.AvatarChange" size="mini" @change="saveSharedFeedFilters")
                    el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                    el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                    el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                    el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
            template(v-if="photonLoggingEnabled")
                br
                .toggle-item
                    span.toggle-name Photon Event Logging
                .toggle-item
                    span.toggle-name Portal Spawn
                    el-radio-group(v-model="sharedFeedFilters.wrist.PortalSpawn" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                        el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                        el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
                .toggle-item
                    span.toggle-name Lobby ChatBox Message
                    el-radio-group(v-model="sharedFeedFilters.wrist.ChatBoxMessage" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="VIP") {{ $t('dialog.shared_feed_filters.favorite') }}
                        el-radio-button(label="Friends") {{ $t('dialog.shared_feed_filters.friends') }}
                        el-radio-button(label="Everyone") {{ $t('dialog.shared_feed_filters.everyone') }}
                .toggle-item
                    span.toggle-name Blocked
                    el-radio-group(v-model="sharedFeedFilters.wrist.Blocked" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
                .toggle-item
                    span.toggle-name Unblocked
                    el-radio-group(v-model="sharedFeedFilters.wrist.Unblocked" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
                .toggle-item
                    span.toggle-name Muted
                    el-radio-group(v-model="sharedFeedFilters.wrist.Muted" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
                .toggle-item
                    span.toggle-name Unmuted
                    el-radio-group(v-model="sharedFeedFilters.wrist.Unmuted" size="mini" @change="saveSharedFeedFilters")
                        el-radio-button(label="Off") {{ $t('dialog.shared_feed_filters.off') }}
                        el-radio-button(label="On") {{ $t('dialog.shared_feed_filters.on') }}
        template(#footer)
            el-button(size="small" @click="resetWristFeedFilters") {{ $t('dialog.shared_feed_filters.reset') }}
            el-button(size="small" type="primary" @click="wristFeedFiltersDialog.visible = false") {{ $t('dialog.shared_feed_filters.close') }}
