doctype html
#x-app.x-app(@dragenter.prevent @dragover.prevent @drop.prevent)
    //- ### Login ###
    Login(v-if='!watchState.isLoggedIn')

    VRCXUpdateDialog

    template(v-if='watchState.isLoggedIn')
        //- ### Menu ###
        NavMenu

        //- ### Sidebar ###
        Sidebar

        //- ### Tabs ###
        Feed

        GameLog

        PlayerList

        Search

        Favorites

        FriendLog

        Moderation

        Notification

        FriendList

        Charts

        Tools

        Profile

        Settings

        //- ## Dialogs ## -\\
        UserDialog

        WorldDialog

        AvatarDialog

        GroupDialog

        GroupMemberModerationDialog

        GalleryDialog

        FullscreenImageDialog

        PreviousInstancesInfoDialog

        LaunchDialog

        LaunchOptionsDialog

        FriendImportDialog

        WorldImportDialog

        AvatarImportDialog

        ChooseFavoriteGroupDialog

        EditInviteMessageDialog

        VRChatConfigDialog

        PrimaryPasswordDialog
