html {
    overflow: hidden;
}

.lucide.is-loading {
    animation: rotating 2s linear infinite;
}

.x-container {
    position: relative;
    padding: 8px;
    overflow: hidden auto;
    box-sizing: border-box;
    min-width: 0;
    background: var(--background);
    height: calc(100% - 20px);
    margin: 8px 0 8px 0;
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.aside-collapsed .x-container {
    margin-right: 8px;
}

html.dark .x-container {
    background: var(--sidebar);
}

[data-sonner-toast] [data-content] [data-description] {
    white-space: pre-line;
}
