html {
    overflow: hidden;
}

.lucide.is-loading {
    animation: rotating 2s linear infinite;
}

.x-app {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: default;
}

.x-container {
    position: relative;
    padding: 10px;
    overflow: hidden auto;
    box-sizing: border-box;
    background: var(--background);
    height: calc(100vh - 20px);
    margin: 10px 0 10px 0;
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.aside-collapsed .x-container {
    margin-right: 10px;
}

html.dark .x-container {
    background: var(--sidebar);
}

.x-friend-list {
    padding: 0 10px;
    overflow: hidden auto;
}

.x-friend-group > .rotation-transition {
    transition: transform 0.3s;
}

.x-dialog .x-friend-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 300px;
}

.x-friend-list > .x-friend-group {
    padding: 16px 0 5px;
    font-size: 12px;
}

.x-friend-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 6px;
    font-size: 13px;
    cursor: pointer;
}

.x-friend-item > .avatar {
    position: relative;
    display: inline-block;
    flex: none;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background-color: transparent;
}

.x-friend-item > img.avatar,
img.friends-list-avatar {
    width: unset;
    height: 22.5px;
    margin-right: 0;
    margin-left: 5px;
    border-radius: 2px;
}

.x-friend-item > .avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: transparent;
}

.x-friend-item > .avatar.active > img {
    filter: grayscale(1);
}

.x-friend-item:hover > .avatar.offline > img,
.x-friend-item:hover > .avatar.active > img {
    filter: none;
}

.x-friend-item > .avatar.online.mobile > img,
.x-friend-item > .avatar.joinme.mobile > img,
.x-friend-item > .avatar.askme.mobile > img,
.x-friend-item > .avatar.busy.mobile > img {
    mask-image: url(/images/masks/usercutoutmobile.svg);
}

.x-friend-item > .avatar.online.mobile::after,
.x-friend-item > .avatar.joinme.mobile::after,
.x-friend-item > .avatar.askme.mobile::after,
.x-friend-item > .avatar.busy.mobile::after {
    position: absolute;
    right: -2px;
    bottom: 0px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 0px;
    mask-image: url(/images/masks/phone.svg);
}

.x-friend-item > .avatar.active > img,
.x-friend-item > .avatar.online > img,
.x-friend-item > .avatar.joinme > img,
.x-friend-item > .avatar.askme > img,
.x-friend-item > .avatar.busy > img,
.x-friend-item > .avatar.offline > img {
    mask-image: url(/images/masks/usercutout.svg);
}

.x-friend-item > .avatar.active::after,
.x-friend-item > .avatar.online::after,
.x-friend-item > .avatar.joinme::after,
.x-friend-item > .avatar.askme::after,
.x-friend-item > .avatar.busy::after,
.x-friend-item > .avatar.offline::after {
    position: absolute;
    right: 0.75px;
    bottom: 0.75px;
    width: 9px;
    height: 9px;
    content: '';
    background: #909399;
    border-radius: 50%;
}

.x-friend-item > .avatar.active::after {
    background: #f4e05e;
}

.x-friend-item > .avatar.online::after {
    background: #67c23a;
}

.x-friend-item > .avatar.joinme::after {
    background: #409eff;
    mask-image: url(/images/masks/joinme.svg);
}

.x-friend-item > .avatar.askme::after {
    background: #ff9500;
    mask-image: url(/images/masks/askme.svg);
}

.x-friend-item > .avatar.busy::after {
    background: #ff2c2c;
    mask-image: url(/images/masks/busy.svg);
}

.x-friend-item > .avatar.offline::after {
    background: #909399;
}

.x-friend-item.offline > .avatar::after {
    display: none;
}

.x-friend-item > .detail {
    flex: 1;
    overflow: hidden;
}

.x-friend-item > .detail > .name,
.x-friend-item > .detail > .extra {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x-friend-item > .detail > .name {
    font-weight: 500;
    line-height: 18px;
}

.x-friend-item > .detail > .extra {
    font-size: 12px;
}

.x-friend-item > .detail > .extra > span > span:first-child {
    scale: 0.9;
    margin-right: 2px;
}

.x-friend-item:hover {
    border-radius: 8px;
}

.x-friend-item-no-hover:hover {
    background: unset !important;
}

.x-friend-item-border:hover {
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 25px;
}

.x-dialog .x-friend-item {
    width: 167px;
}

i.x-user-status,
i.x-status-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #808080;
    border-radius: 50%;
}

i.x-user-status.active {
    background: #f4e05e;
}

i.x-user-status.online {
    background: #67c23a;
}

i.x-user-status.joinme {
    background: #409eff;
    mask-image: url(/images/masks/joinme.svg);
}

i.x-user-status.askme {
    background: #ff9500;
    mask-image: url(/images/masks/askme.svg);
}

i.x-user-status.busy {
    background: #ff2c2c;
    mask-image: url(/images/masks/busy.svg);
}

i.x-status-icon.green {
    background: #67c23a;
}

i.x-status-icon.blue {
    background: #409eff;
}

i.x-status-icon.orange {
    background: #ff9500;
}

i.x-status-icon.red {
    background: #ff2c2c;
}

.x-tag-platform-pc {
    color: #0078d4;
    border-color: #0078d4 !important;
}

.x-tag-platform-quest {
    color: #3ddc84;
    border-color: #3ddc84 !important;
}

.x-tag-friend {
    color: var(--color-amber-400);
    border-color: var(--color-amber-400) !important;
}

.x-tag-age-verification {
    color: #3b82f6;
    border-color: #3b82f6 !important;
}

.x-tag-border-left {
    border-left: 0.8px solid;
    margin-left: 5px;
    padding-left: 5px;
    padding-bottom: 0.5px;
}

.options-container {
    margin-top: 30px;
    padding: 0 10px 10px 10px;
}

.options-container .header-bar {
    display: flex;
    align-items: center;
}

.options-container .header {
    font-weight: bold;
    font-size: 20px;
}

.options-container .sub-header {
    font-weight: bold;
    font-size: 15px;
}

.options-container-item {
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.options-container-item .name {
    display: inline-block;
    width: 235px;
}

.x-app > .x-container {
    padding-top: 15px;
}

/* Bio diff */
.x-text-removed {
    text-decoration: line-through;
    color: #ff0000;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 2px 2px;
    border-radius: 4px;
}

.x-text-added {
    color: rgb(35, 188, 35);
    background-color: rgba(76, 255, 80, 0.2);
    padding: 2px 2px;
    border-radius: 4px;
}

/*FIXME: this is a nasty temporary hack*/
.force-pointer-on-hover a,
.force-pointer-on-hover button,
.force-pointer-on-hover [role='button'],
.force-pointer-on-hover label,
.force-pointer-on-hover summary,
.force-pointer-on-hover .x-link,
.force-pointer-on-hover input[type='submit'] {
    cursor: pointer !important;
}
