doctype html
#x-app.x-app(@dragenter.prevent @dragover.prevent @drop.prevent)
    //- ### Login ###
    LoginPage(v-if="!this.store.auth.isLoggedIn")

    VRCXUpdateDialog

    template(v-if='this.store.auth.isLoggedIn')
        //- ### Menu ###
        NavMenu

        //- ### Sidebar ###
        Sidebar

        //- ### Tabs ###
        FeedTab

        GameLogTab

        PlayerListTab

        SearchTab

        FavoritesTab

        FriendLogTab

        ModerationTab

        NotificationTab

        FriendListTab

        ChartsTab

        ProfileTab

        SettingsTab

        //- ## Dialogs ## -\\
        UserDialog

        WorldDialog

        AvatarDialog

        GroupDialog

        GalleryDialog

        FullscreenImageDialog

        PreviousInstancesInfoDialog

        LaunchDialog

        LaunchOptionsDialog

        FriendImportDialog

        WorldImportDialog

        AvatarImportDialog

        ChooseFavoriteGroupDialog

        EditInviteMessageDialog

        VRChatConfigDialog

        PrimaryPasswordDialog


