name: VRCX

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build_dotnet:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
    - name: Restore packages
      run: nuget restore VRCX.sln
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Build with MSBuild
      run: msbuild VRCX.sln -p:Configuration=Release -p:Platform=x64
     
  build_node:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: html

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Restore dependencies
      run: npm ci
    - name: Build
      run: npm run production
